/* Custom font Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Luckiest+Guy&family=Orbitron:wght@400..900&display=swap');

/* font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 760;
    font-style: normal; */

/* debug */
* {
    /* outline: 2px red solid; */
}

body {
    margin: 0px;
}

.signup_page {
    display: flex;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;
}

.brand {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
    color: white;

    position: relative;
    min-height: 100vh;
    flex: 0 0 30%;

}

.brand_tag {
    margin-top: 30%;
    display: flex;
    background-color: #99999920;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

/* Sign up stuff */
.signup_content {
    background-color: rgb(224, 222, 222);
    flex: 1;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.signup_form {

    padding: 22px 24px 26px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.signup_form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 0px;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_group input {
  width: 80%;
}

/* animations */

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
    position: relative;
    min-height: 100vh;
    flex: 0 0 30%;
  top: 0;
  left: 0;
  background-image: url(./images/space.webp) ;
  overflow: hidden;
}

.ball {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
}

.ball:nth-child(odd) {
    color: #1dc4a8;
}

.ball:nth-child(even) {
    color: #2b36f7;
}

/* Using a custom attribute for variability */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}

    
